<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Travola</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css"/>
    <link rel="stylesheet" href="assets2/css/main.css"/>
  </head>
  <body class="is-preload">


      <header id="header">
        <div class="inner">
          <a href="#" class="image avatar"><img src="images/avatar.jpg" alt="" /></a>
          <h1><strong> Find Restaurants & Hotels</strong>, based on location<br/>
          </h1>
        </div>

      </header>

    <!-- Main -->
      <div id="main">

        <!-- One -->
          <section id="one">
            <header class="major">
            </header>
            <ul class="actions">
              <li><a href="/profile" class="button">Profile</a></li>
            </ul>
          </section>


        <!-- Two -->
          <section id="two">
            <h2>Your Favorites</h2>
            <%
            for(let i = 0; i < places.length; i++){
            %>

            <div class="row">
            
                <h3><%= places[i].name %></h3>
                <a href="<%= places[i].website %>" ><img src = "https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=<%= places[i].photos[0].photo_reference %>&key=AIzaSyDu7ML3Gh0Invl3_Wvx89faDViiR3r6rXM"></a>
              </article>


            </div>
            <%}%>
            <ul class="actions">
              <li><a href="/login" class="button">Log Out</a></li>
            </ul>
          </section>
        </div>

      <footer id="footer">
				<div class="inner">
					<ul class="copyright">
						<li>&copy; Untitled</li>
					</ul>
				</div>
			</footer>
      <script src="assets2/js/jquery.min.js"></script>
			<script src="assets2/js/jquery.poptrox.min.js"></script>
			<script src="assets2/js/browser.min.js"></script>
			<script src="assets2/js/breakpoints.min.js"></script>
			<script src="assets2/js/util.js"></script>
			<script src="assets2/js/main.js"></script>
      <script src="assets/js3/main.js"></script>
      <script src="main.js"></script>

  </body>
</html>
