
<!DOCTYPE HTML>
<html>
	<head>
		<title>Travola</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets3/css/main.css"/>
		<noscript><link rel="stylesheet" href="assets3/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main">

						<!-- Items -->
							<div class="items">

								<!-- <div class="item intro span-2">
									<h1>Parallelism</h1>
									<p>A responsive portfolio site<br />
									template by HTML5 UP</p>
								</div> -->


							</div>

						<!-- Items -->
						<div class="items">


										<% for(let i = 0; i < restaurants.length; i++){
										%>
							<article class="item thumb span-1">
								<h2>
									<%= restaurants[i].name %>
								</h2>
								<a href = "https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=<%= restaurants[i].photos[0].photo_reference %>&key=AIzaSyDu7ML3Gh0Invl3_Wvx89faDViiR3r6rXM" class="image">
								<img src = "https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=<%= restaurants[i].photos[0].photo_reference %>&key=AIzaSyDu7ML3Gh0Invl3_Wvx89faDViiR3r6rXM">
								</a>
							</article>
							<%}%>
						</div>

					</section>

				<!-- Footer -->
					<section id="footer">
						<section>

							<ul class="copyright">
								<li>&copy; Untitled</li>
							</ul>
						</section>
					</section>

			</div>

		<!-- Scripts -->
			<script src="assets3/js/jquery.min.js"></script>
			<script src="assets3/js/jquery.poptrox.min.js"></script>
			<script src="assets3/js/browser.min.js"></script>
			<script src="assets3/js/breakpoints.min.js"></script>
			<script src="assets3/js/util.js"></script>
			<script src="assets3/js/main.js"></script>

			<script src="assets/js3/main.js"></script>

	</body>
</html>
