<!doctype html>
<html>
<head>
    <title>Travola Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="style.css"> -->
		<link rel="stylesheet" href="assets/css/main.css"/>
</head>
<body class="is-preload">
<div class="container">

    <div class="jumbotron text-center">
      <span>Find Restaunts Hotels Transportation</span>
      <span>all in one WebApp</span>
        <h1>Travola</h1>
        <img src="img/bike.jpg" alt="21 Savage Profile Photo">

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
<script src="assets/js2/main.js"></script>
</body>
</html>
