<!doctype html>
<html>
  <head>
  <title>Travola</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="assets/css/main.css"/>
  <link rel="stylesheet" href="assets2/css/main.css"/>
  </head>
  <body>
  <div class="container">
    <header id="header">
      <section id="one">
        <ul class="actions">
          <li><a href="/login" class="button">Log Out</a></li>
          <!-- <h3>Recently Visited Locations</h3> -->

        </ul>
      </section>
      <div class="col-sm-6">
        <h3>Search History</h3>
        <ul class="messages">
          <% for(var i=0; i< messages.length; i++) {%>
          <% if (user.local.email === messages[i].name) { %>
          <li class="message">
            <span hidden><%= messages[i].name%></span>
            <span class="<%= messages[i].traveled %>"><a href="#"><%= messages[i].msg %></a></span>
              <% if(messages[i].searchDate){%>
            <span>
              <%= messages[i].searchDate.toLocaleString()%>
            </span>
            <% }%>
            <i class=""></i>
            <span><i class="fas fa-times" aria-hidden="true"></i></span>
            <!-- <span><i class="fas fa-pencil-alt" aria-hidden="true"></i></span> -->
          </li>
          <% } %>
          <% } %>
         </ul>
       </div>
    </header>

    <div class="row">
    <div class="finder">
      <h2>Find Hotels & Restaurants in your location</h2>
      <% if (user.local.email) { %>
      <form class="" action="/search" method="post">
        <input id="input" placeholder="Enter City" type="text" name="location" value="">
        <button type="submit" id="btn" >Search</button>
      </form>
     </div>
    <% } %>
    </div>
    <script src="assets2/js/jquery.min.js"></script>
    <script src="assets2/js/jquery.poptrox.min.js"></script>
    <script src="assets2/js/browser.min.js"></script>
    <script src="assets2/js/breakpoints.min.js"></script>
    <script src="assets2/js/util.js"></script>
    <script src="assets2/js/main.js"></script>
    <script src="assets/js3/main.js"></script>
    <script src="main.js"></script>
</body>
</html>
