<!doctype html>
<html>
<head>
    <title>Travola</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style2.css">
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>

    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/signup" method="post">
        
            <!--  -->
            <div class="form-group">
              <label for="userName">
                <span>Choose your username?</span>
              </label>
              <input type="text" name="userName" class="form-control" id="nme"/>
            </div>

            <div class="form-group">
              <label for="firstName">
                <span>Whats your first name?</span>
              </label>
              <input type="text" name="firstName" class="form-control" id="nme" />
            </div>
            <div class="form-group">
              <label for="lastName">
                <span>What's your last name?</span>
              </label>
              <input type="text" name="lastName" class="form-control" id="nme"/>
            </div>
            <div class="form-group">
              <label for="email">
                <span>Choose your email?</span>
              </label>
              <input type="text" name="email" class="form-control" id="nme" />
            </div>
            <div class="form-group">
              <label for="password">
                <span>Choose your password?</span>
              </label>
              <input type="text" name="password" class="form-control" id="nme" />
            </div>
            <!--  -->

        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

</div>
</div>
</body>
</html>
