<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="items">


    <section>
      <section>
        <%-JSON.stringify(results.candidates[0].photos[0].html_attributions[0])%>
      </section>
    </section>
    </div>

  </body>
</html>
