/* detailed.ejs */
*{
  box-sizing: border-box;
}
 .row{
  margin: -20% 1% -6% -15%;
}
.inner{
      margin: 1% 1% 1% 29%;
}
.image.avatar img{
      margin: 1% 1% 1% -31%;
      height: 100px;
}
.class{
  border:none;
  margin: 1em 0 0 0;
}
#main > section {
  margin: 1em 0 0 0;
}
.red{
  color: red;
}
.button{
  position: absolute;
}
.classy{
  position: absolute;
}
.body{
  position: absolute;
}
.rev{
  color: red;
}
