/* detailed.ejs */
*{
  box-sizing: border-box;
}
 .row{
  margin: -20% 1% -6% -15%;
}
.inner{
      margin: 1% 1% 1% 29%;
}
.image.avatar img{
      margin: 1% 1% 1% -31%;
      height: 100px;
}
.class{
  border:none;
  margin: 1em 0 0 0;
}
#main > section {
  margin: 1em 0 0 0;
}
.red{
  color: red;
}
.button{
  position: absolute;
}
.classy{
  position: absolute;
}
.body{
  position: absolute;
}
 #revRed{
  color: red;
}
#main > section:first-child {
    border-top: 0;
    /* margin-top: 0; */
    padding-top: 228px;
}
#main > section {
    border-top: solid 0px #efefef;
    margin: 0em 0 0 0;
    padding: 0em 0 0 0;
}
